.hands {
  position: relative;
  width: 476px;
  height: 430px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  padding-bottom: 30px;
}

.hands__triangle {
  position: absolute;
  margin-top: 20%;
  z-index: -1;
}
.hands__top {
  display: flex;
  justify-content: space-between;
}

.hands__bottom {
  display: flex;
  justify-content: center;
}
